#classes file are ignored
/target/
/.settings
/doc
/reports
/target
.project
/.idea
.classpath
.myhibernatedata
hibernate.cfg.xml
hibernate.reveng.xml

/.metadata
/RemoteSystemsTempFiles
/Servers
*.iml
.DS_Store
.tern-project
/bak
/bin/
/db/init.sql
/src/main/resources/application.properties

